header{
  padding: 20px;
  text-align: center;
}
body{
/* background-color: rgb(143, 192, 137);   */
/*background: linear-gradient(to left, #6878d0, rgb(143, 192, 137));*/
background: #3498db; 
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  width:100%;
  
}

li {
  float:right;
}

li a {
  justify-items: center;
  display:flex;
  padding: 8px;
  text-decoration: dashed;
  border-radius: 99%;
  transition: background-color 0.3s ease;
  color: #0f0f0f;
  
}
li a:hover {
  background-color: rgba(9, 115, 168, 0.5); /* Change the background color on hover */

}
div>ul{
    background-color: rgba(46, 204, 113, 0.5);
    height:34%;
        
}
#logo{
  width: 10%;
  padding:auto;
  margin: auto;
  display: block;
  bottom:30%;
}
#logo-container {
  padding:0; /* Adjust padding as needed */
  text-align: center;
  border: 0;
  top:20px;
}

#banner-container {
    text-align: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

#banner {
    width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}

